@model ChangePasswordModel
@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@ViewData["Title"]</h3>

<partial name="Messages/_Success" />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Details">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>Current Password</label>
                @Html.PasswordFor(m => m.CurrentPassword, new { @maxlength = "128", @autocomplete = "off" })
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>New Password</label>
                @Html.PasswordFor(m => m.NewPassword, new { @maxlength = "128", @autocomplete = "off" })
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Confirm Password</label>
                @Html.PasswordFor(m => m.ConfirmPassword, new { @maxlength = "128", @autocomplete = "off" })
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div>
                <input type="button" value="Change Password" onclick="saveData(1)" class="btn btn-primary save-button" />
            </div>
        </form>
    </div>
</div>

<form id="redirect-form-1" method="get" asp-action="ChangePassword">
    <input type="hidden" name="SuccessMessage" class="success-message" />
</form>

@section Scripts{
    <script type="text/javascript">
        function saveData(formSuffix){
            var form = $("#CurrentPassword").closest("form");

            if(!app.controls.isFormValid(form)){
                alert("Please fill all required fields!");
                return;
            }

            confirmMessage("Do you confirm changing your password?",function(){
                app.postToServer("@Url.Action("_changePassword")",form.serialize(),function(response){
                    if(response.success)
                    {
                        $(".success-message").val("Successfully Changed Password!");
                        $("#redirect-form-"+formSuffix).submit();
                    }
                    else{
                        error(response.errorMessage);
                    }
                });
            });
        }
    </script>
}